<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="header"></div>
<h1 class="ms-2">User room request</h1>
<div th:if="${errors != null}" th:each="error: ${errors}">
    <h2 class="text-danger text-decoration-none" th:text="#{${error}}"></h2>
</div>
<div class="d-flex">
    <div class="row card bg-light ms-2">
        <h2 th:inline="text">First Name : [[${roomRequest.userFirstName}]]</h2>
        <h2 th:inline="text">Last Name : [[${roomRequest.userLastName}]]</h2>
        <h2 th:inline="text">User Email : [[${roomRequest.userEmail}]]</h2>
        <h2 th:inline="text">Username : [[${roomRequest.userUsername}]]</h2>
        <h2 th:inline="text">Capacity : [[${roomRequest.capacity}]]</h2>
        <h2 th:inline="text">Room Class : [[${roomRequest.roomClass}]]</h2>
        <h2 th:inline="text">Check in date : [[${roomRequest.checkInDate}]]</h2>
        <h2 th:inline="text">Check out date : [[${roomRequest.checkOutDate}]]</h2>
        <h2 th:inline="text">Status : [[${roomRequest.status}]]</h2>
        <h2 th:inline="text">Assigned room : [[${roomRequest.roomId}]]</h2>
        <h2 th:inline="text">Comment: [[${roomRequest.comment}]]</h2>
        <h2 th:inline="text">Manager comment : [[${roomRequest.managerComment}]]</h2>
        <div th:if="${roomRequest.status == T(com.example.epamhotelspring.model.enums.RequestStatus).AWAITING || roomRequest.status == T(com.example.epamhotelspring.model.enums.RequestStatus).AWAITING_CONFIRMATION}">
            <form method="post" th:action="@{/manager/room-request/close}" th:object="${closeRequestForm}">
                <div class="d-flex">
                    <input type="hidden" th:value="${roomRequest.id}" name="requestId">
                    <input class="form-control w-25" placeholder="Comment" type="text" th:field="*{comment}">
                    <button class="btn btn-outline-danger my-2" type="submit">Close request</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h2 class="ms-2">Suitable rooms</h2>
<th:block th:if="${suitableRooms != null}">
    <form id="sortForm" method="get">
        <div class="d-flex justify-content-start">
            <script type="text/javascript" th:src="@{/js/sendSortForm.js}"></script>
            <select style="width: 10%;" class="form-select ms-2 me-1" name="sort" id="sortField">
                <option th:selected="${@thymeleafUtils.sortFieldSelected(param.sort, 'id')}" value="id">Id</option>
                <option th:selected="${@thymeleafUtils.sortFieldSelected(param.sort, 'price')}" value="price">Price</option>
                <option th:selected="${@thymeleafUtils.sortFieldSelected(param.sort, 'roomStatus')}" value="roomStatus">Status</option>
                <option th:selected="${@thymeleafUtils.sortFieldSelected(param.sort, 'roomClass')}" value="roomClass">Class</option>
                <option th:selected="${@thymeleafUtils.sortFieldSelected(param.sort, 'capacity')}" value="capacity">Capacity</option>
            </select>
            <select style="width: 10%;" class="form-select mx-1" id="sortDirection">
                <option th:selected="${@thymeleafUtils.sortDirectionSelected(param.sort, 'asc')}" value="asc">Ascending</option>
                <option th:selected="${@thymeleafUtils.sortDirectionSelected(param.sort, 'desc')}" value="desc">Descending</option>
            </select>
            <button class="btn btn-outline-primary mx-1" onclick="sendSortParameters()">Sort</button>
        </div>
    </form>
    <div class="ms-2">
        <div th:replace="fragments/pagination.html :: pagination(${suitableRooms.pageable}, ${suitableRooms.getTotalPages()}, ${suitableRooms.hasNext()})"></div>
    </div>
    <th:block th:each="room: ${suitableRooms}">
        <div class="d-flex my-2">
            <div class="row card bg-light ms-2">
                <h2 th:inline="text">Room number : [[${room.number}]]</h2>
                <h2 th:inline="text">Room name : [[${room.name}]]</h2>
                <h2 th:inline="text">Room status : [[${room.roomStatus}]]</h2>
                <h2 th:inline="text">Room capacity : [[${room.capacity}]]</h2>
                <h2 th:inline="text">Room class : [[${room.classTranslated}]]</h2>
                <h2 th:inline="text">Room price : [[${room.price}]]</h2>
                <form class="form-group" method="post" th:action="@{/manager/room-request/{id}/assign-room/{roomId}(id=${roomRequest.id}, roomId=${room.id})}">
                    <button class="btn btn-outline-success" type="submit">Assign this room</button>
                </form>
            </div>
        </div>
    </th:block>
    <div class="ms-2">
        <div th:replace="fragments/pagination.html :: pagination(${suitableRooms.pageable}, ${suitableRooms.getTotalPages()}, ${suitableRooms.hasNext()})"></div>
    </div>
</th:block>
</body>
</html>