<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.login}">Login</title>
</head>
<body>
<h1 th:text="#{title.login}">Login</h1>
<form name="f" th:action="@{/perform-login}" method="post">
    <a th:if="${param.error}" th:text="#{errors.badCredentials}">Bad Credentials</a>
    <p th:text="#{user.username}">Username</p><input type="text" id="user" name="user"/>
    <p th:text="#{user.password}">Password</p><input type="password" id="pass" name="pass"/>
    <button th:text="#{button.login}" type="submit">Login</button>
</form>
</body>
</html>