<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.profile}">Title</title>
</head>
<body>
<div th:include="header"></div>
<div class="d-flex bg-light w-25">
    <div class="ms-2 row">
        <h1 th:inline="text">[[#{welcome}]] : [[${user.firstName} + ' ' + ${user.lastName}]]</h1>
        <h1 th:inline="text">[[#{yourBalance}]] : [[${user.balance}]]</h1>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.updateProfile}" th:href="@{/profile/update}">Update profile</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{button.requestRoom}" th:href="@{/profile/request-room}">Request Room</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.roomRequests}" th:href="@{/profile/room-requests}">Room requests</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.roomHistory}" th:href="@{/profile/room-history}">Room history</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.addBalance}" th:href="@{/profile/add-balance}">Add Balance</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.billings}" th:href="@{/profile/billings}">Billings</a>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.changePassword}" th:href="@{/profile/change-password}">Change password</a>
        <th:block sec:authorize="hasAuthority(T(com.example.epamhotelspring.model.enums.Role).MANAGER.getAuthority())">
            <a class="link-primary my-1 text-decoration-none" th:text="#{profile.userRoomRequests}" th:href="@{/manager/room-requests}">User room requests</a>
            <a class="link-primary my-1 text-decoration-none" th:text="#{profile.configurePdf}" th:href="@{/manager/report/configure}">Configure Room PDF report</a>
        </th:block>
        <a class="link-primary my-1 text-decoration-none" th:text="#{profile.logout}" th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>