<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.register}">Title</title>
</head>
<body>
<h1 th:text="#{title.register}">Register</h1>
<form method="post" th:action="@{/register}" th:object="${registrationForm}">
    <p th:text="#{user.username}">Username</p>
        <input th:field="*{username}">
        <a th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</a>
    <p th:text="#{user.password}">Password</p>
        <input th:field="*{password}">
        <a th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</a>
    <p th:text="#{user.email}">Email</p>
        <input th:field="*{email}">
        <a th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</a>
    <p th:text="#{user.firstName}">First Name</p>
        <input th:field="*{firstName}">
        <a th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</a>
    <p th:text="#{user.lastName}">Last Name</p>
        <input th:field="*{lastName}">
        <a th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</a>
    <button th:text="#{button.register}" type="submit">Register</button>
</form>
</body>
</html>