<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<div>
    <div th:include="header::nav"></div>
    <h1 th:inline="text">Room number : [[${room.number}]]</h1>
    <h1 th:inline="text">Room name : [[${room.name}]]</h1>
    <h1 th:inline="text">Room status : [[${room.roomStatus}]]</h1>
    <h1 th:inline="text">Room capacity : [[${room.capacity}]]</h1>
    <h1 th:inline="text">Room class : [[${room.classTranslated}]]</h1>
    <h1 th:inline="text">Room price : [[${room.price}]]</h1>
    <div sec:authorize="isAuthenticated()">
        <script type="text/javascript" th:src="@{/js/room-price-calculator.js}" defer></script>
        <input type="hidden" id="pricePerDay" th:value="${room.price}">
        <form method="post" th:object="${bookRoomForm}" th:action="@{/room/book-room}">
            <input type="hidden" th:value="${room.id}" name="roomId">
            <p>Check In Date</p>
            <input type="date" th:field="*{checkInDate}" onchange="dateChange()">
            <script>document.getElementById("checkInDate").min = new Date().toISOString().split("T")[0];</script>
            <a th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}">Check In Date Error</a>
            <p>Check Out Date</p>
            <input type="date" th:field="*{checkOutDate}" onchange="dateChange()">
            <a th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}">Check Out Date Error</a>
            <div th:if="${#fields.hasErrors('global')}">
                <a th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></a>
            </div>
            <button type="submit">Book Room</button>
        </form>
        <a>Estimated price: </a><a id="calculatedPrice"></a>
    </div>
    <div th:if="${#authorization.expression('hasAuthority(T(com.example.epamhotelspring.model.enums.Role).MANAGER.getAuthority())')
    && !room.roomStatus.equals(T(com.example.epamhotelspring.model.enums.RoomStatus).UNAVAILABLE)}">
        <form method="post" th:object="${closeRoomForm}" th:action="@{/manager/room/close}">
            <input type="hidden" th:value="${room.id}" name="roomId">
            <input type="date" th:field="*{startDate}">
            <input type="date" th:field="*{endDate}">
            <button type="submit">Close room</button>
        </form>
    </div>
    <div th:if="${#authorization.expression('hasAuthority(T(com.example.epamhotelspring.model.enums.Role).MANAGER.getAuthority())')
    && room.roomStatus.equals(T(com.example.epamhotelspring.model.enums.RoomStatus).UNAVAILABLE)}">
        <form method="post" th:object="${closeRoomForm}" th:action="@{/manager/room/{id}/open(id=${room.id})}">
            <button type="submit">Open room</button>
        </form>
    </div>
    <h1>Booked dates</h1>
    <div th:each="roomRegistry: ${room.roomRegistries}">
        <a th:text="${roomRegistry.checkInDate}"></a>
        <a th:text="${roomRegistry.checkOutDate}"></a>
    </div>
</div>
</body>
</html>