<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.myRoomRequests}">Title</title>
</head>
<body>
<div th:include="header"></div>
<h1 th:text="#{title.myRoomRequests}" class="ms-2">My room requests</h1>
<div class="ms-2">
    <div th:replace="fragments/pagination.html :: pagination(${roomRequests.pageable}, ${roomRequests.getTotalPages()}, ${roomRequests.hasNext()})"></div>
</div>
<th:block th:each="roomRequest: ${roomRequests}">
    <div class="d-flex">
        <div class="row card bg-light ms-2 my-2">
            <h2 th:inline="text">[[#{roomRequest.capacity}]] : [[${roomRequest.capacity}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.roomClass}]] : [[${roomRequest.roomClass}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.checkInDate}]] : [[${roomRequest.checkInDate}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.checkOutDate}]] : [[${roomRequest.checkOutDate}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.status}]] : [[#{'roomRequest.status.' + ${roomRequest.status}}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.assignedRoom}]] : [[${roomRequest.roomId}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.comment}]] : [[${roomRequest.comment}]]</h2>
            <h2 th:inline="text">[[#{roomRequest.managerComment}]] : [[${roomRequest.managerComment}]]</h2>
            <div th:if="${roomRequest.status == T(com.example.epamhotelspring.model.enums.RequestStatus).AWAITING_CONFIRMATION}">
                <form method="post" th:action="@{/profile/room-requests/confirm/{id}(id=${roomRequest.id})}">
                    <button th:text="#{button.acceptRoom}" class="btn btn-outline-info" type="submit">Accept room</button>
                </form>
                <form method="post" th:action="@{/profile/room-requests/decline/{id}(id=${roomRequest.id})}" th:object="${declineRoomForm}">
                    <input class="form-control w-50" th:field="*{comment}">
                    <button th:text="#{button.declineRoom}" class="btn btn-outline-danger my-2" type="submit">Decline this room</button>
                </form>
            </div>
            <th:block th:if="${roomRequest.status == T(com.example.epamhotelspring.model.enums.RequestStatus).AWAITING}">
                <a class="link-danger text-decoration-none" th:text="#{button.closeRoomRequest}" th:href="@{/profile/room-requests/close/{id}(id=${roomRequest.id})}">Close this room request</a>
            </th:block>
        </div>
    </div>
</th:block>
<div class="ms-2">
    <div th:replace="fragments/pagination.html :: pagination(${roomRequests.pageable}, ${roomRequests.getTotalPages()}, ${roomRequests.hasNext()})"></div>
</div>
</body>
</html>